In [23]:
food = 'abcdefghijklmnopqrstuvwxyz'

In [24]:
food

'abcdefghijklmnopqrstuvwxyz'

In [25]:
food[3]

'd'

In [26]:
food[::]

'abcdefghijklmnopqrstuvwxyz'

In [27]:
food[2::3]

'cfilorux'

In [28]:
len(food)

26

In [32]:
food[-1:0:-3]

'zwtqnkheb'

In [43]:
statment = "today is the day when indian constitution has been killed by the BJP"

In [44]:
"bjp".upper() in statment

True

In [45]:
statment.replace('BJP','APP')

'today is the day when indian constitution has been killed by the APP'

In [46]:
statment

'today is the day when indian constitution has been killed by the BJP'

In [47]:
newstat = statment.replace('BJP','APP')

In [48]:
newstat

'today is the day when indian constitution has been killed by the APP'

In [49]:
statment.index('y')

4

In [53]:
statment.count('y')

3

In [57]:
# create three variable 'streat','city' and 'country' and create a 4th variable 'address' using concatenatig them using + and f''
# print the values of the address in new line
streat='abc'
city='pune'
country='india'
address1 = streat+' '+city+' '+country
address2 = f"{streat} {city} {country}"
print(address1.replace(' ','\n'))
print(address2.replace(' ','\n'))

abc
pune
india
abc
pune
india

In [79]:
# Craete a variable to store the string "Earth revolves aroud the sun"
# print the "revolves"
# print the "sun" using -ve index
string1 = "Earth revolves aroud the sun"
print(string1[6:15])
print(string1[-3:])

revolves
sun

In [85]:
# Create two variables and print the strings in formated way using the f"" and normal
fruits = 4
vegi = 3
print("I eat",fruits,'fruits and',vegi,'vegitables daily')
print(f"I eat {fruits} fruits and {vegi} vegitables daily")

I eat 4 fruits and 3 vegitables daily
I eat 4 fruits and 3 vegitables daily

In [89]:
str1 = 'maine 200 banana khaye'
str2 = str1.replace('200','10').replace('banana','samose')
print(str1)
print(str2)

maine 200 banana khaye
maine 10 samose khaye

In [90]:
# Write a program that can find area of a triangle. 
# It should take base and height as an input from user 
# and using that it should print an area of a triangle

height = int(input('Enter the height of the traingle:'))
width = int(input('Enter the width of the traingle:'))

area = (1/2)*(height * width)
print("Area is : ",area)

Enter the height of the traingle:12
Enter the width of the traingle:3
Area is :  18.0

In [93]:
# Write a program that takes file name with extension as an input 
# and prints just the file name without extension (you can assume 
# that file extensions are always 3 character long)

filename = input('Enter File Name:')
print(filename[0:filename.index('.')])

Enter File Name:exm.s
exm

In [110]:
''' 
Let us say your expense for every month are listed below,
    January - 2200
    February - 2350
    March - 2600
    April - 2130
    May - 2190 
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this
'''

expenses = [2200,2350,2600,2130,2190]
extra = expenses[1]-expenses[0]
print("1. In Feb",extra)
first_quarter= sum(expenses[0:3])
print("first quarter:",first_quarter)
any_mon_2000 = 2000 in expenses
print("Is there 2000 dollars in any month:",any_mon_2000)
expenses.append(1980)
print("June month just finished and your expense is 1980 dollar:",expenses)
expenses[3]=expenses[3]-200
print("Make a correction to your monthly :",expenses)

1. In Feb 150
first quarter: 7150
Is there 2000 dollars in any month: False
June month just finished and your expense is 1980 dollar: [2200, 2350, 2600, 2130, 2190, 1980]
Make a correction to your monthly : [2200, 2350, 2600, 1930, 2190, 1980]

In [111]:
heros=['spider man','thor','hulk','iron man','captain america']
print("Length of the list:",len(heros))
heros.append('black panther')
print("Added the 'Black Panther' :",heros)
heros.insert(3,'Black Penther')
print("Added the 'Black Panther' after 'Hulk':",heros)
heros[1:3]=['doctor strange']
print("Replaced the thor and hulk with doctor strange:",heros)
heros.sort()
print("Sorted List:",heros)

Length of the list: 5
Added the 'Black Panther' : ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
Added the 'Black Panther' after 'Hulk': ['spider man', 'thor', 'hulk', 'Black Penther', 'iron man', 'captain america', 'black panther']
Replaced the thor and hulk with doctor strange: ['spider man', 'doctor strange', 'Black Penther', 'iron man', 'captain america', 'black panther']
Sorted List: ['Black Penther', 'black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

In [115]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
city = input("Enter the City Name:")
if city in india:
    print("City Belongs to India")
elif city in pakistan:
    print("City Belongs to Pakistan")
elif city in bangladesh:
    print("City Belongs to Bangladesh")
else:
    print("Wrong City")

Enter the City Name:xys
Wrong City

In [4]:
country = {'china':143,'india':136,'usa':35,'pakistan':23}
for item in country:
    print(item,"==>",country[item])

china ==> 143
india ==> 136
usa ==> 35
pakistan ==> 23

In [23]:
print('''
1. Print
2. Add
3. remove
4. query
''')
choice = int(input("Enter your Choice:"))
if choice==1:
    for item in country:
        print(item,"==>",country[item])

elif choice ==2:
    cntry = input("Enter Country Name:")
    if cntry in country:
        print("Country Already Exist")
    else:
        population = int(input("Enter Population:"))
        country[cntry]=population
    print(country)
    
elif choice == 3:
    cntry = input("Enter Country Name to remove:")
    if cntry not in country:
        print("Country doestn't Exist")
    else:
        country.popitem()
    print(country)
    
elif choice == 4:
    cntry = input("Enter Country Name to query:")
    print(country.get(cntry))

1. Print
2. Add
3. remove
4. query

Enter your Choice:2
Enter Country Name:usa
Country Already Exist
{'china': 143, 'india': 136, 'usa': 35, 'pakistan': 23}